// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";

$primary: #30475E;
$secondary: #CBAF87;

body {
    background-color: $primary;
}

.navbar {
    background-color: $secondary;
}
